$desktop-width: 1440px;
$laptop-width: 1366px;
$public-width: 1172px;
$tablet-large-width: 1024px;
$tablet: 992px;
$tablet-small-width: 768px;
$tablet-extra-small-width: 600px;
$mobile: 576px;
$mobile-width: 414px;
$min-resolution: 320px;

//DashBorad

$public-width-dashboard: 1184px;
// $public-width-dashboard2: 80%;
